<div id="welcome">
  <%= image_tag 'sprint_adp_logo.gif' %><br/>
  <h2>Sprinty Tweet</h2>
  <p>Sprinty Tweet is a demo mashup of the Sprint Developer Sandbox and Twitter APIs. Location is just one of the few services provided by the Sprint network available for developers. To explore the other services the Sprint Developer Sandbox has to offer, please visit the Sandbox link at <%= link_to "developer.sprint.com", "http://developer.sprint.com" %> </p>
  <h2>Roll the Credits</h2>
  <ul>
    <li>
      <%= image_tag 'logo_heroku.png', :class => "logo" %>
      <h3>Heroku</h3>
      <%= link_to "http://heroku.com", "http://heroku.com"%><br/>
      Instant Ruby Platform
    </li>
    <li>
      <%= image_tag 'logo_sprint.png', :class => "logo" %>
      <h3>Sprint Developers Program</h3>
      <%= link_to "http://developer.sprint.com", "http://developer.sprint.com" %><br/>
      Discover Open, NOW
     </li>
     <li><%= image_tag 'logo_twitter_gem.png', :class => "logo" %>
       <h3>Ruby Twitter Gem and Example</h3>
       <%= link_to "http://twitter.rubyforge.org/", "http://twitter.rubyforge.org/"%><br/>
       Ruby Twitter Gem by <%= link_to "John Nunemaker", "http://addictedtonew.com/about/" %>
     </li>
    <li>
      <%= image_tag 'logo_twitter.png', :class => "logo" %>
      <h3>Twitter</h3>
      <%= link_to "http://twitter.com", "http://twitter.com" %><br/><br/>
    </li>
  </ul>
</div>
<div id="login">
  <h2>Sign In With Twitter</h2>
  <p>Yo! CLICK THE BUTTON!</p>
  <%- form_tag session_path do -%>
    <p><%= image_submit_tag 'twitter_sign_in.png' %></p>
  <%- end -%>
</div>
