<div id="location_setup">
  <div class="info">
    Power your tweets with your location,
    Now with the Sprint Location Services.
    Your tweets are auto-magically tagged with your location.
  </div>
  <div class="text">
    <span>Sign up for the location service at <%= link_to "http://sprintdevelopersandbox.com/", "http://sprintdevelopersandbox.com/" %></span>
    <%- form_for @sprintSettings, :url => setup_sprint_path, :method => :post do |f| -%>
      <%= f.label :apiKey, "API Key" %><br/>
      <%= f.text_field :apiKey %><br/>      
      <%= f.label :mdn, "10-Digit Mobile Device Number" %><br/>
      <%= f.select :mdn, [], {:include_blank => true}, :style => "width: 218px; height: 1em;" %>
      <%= image_tag 'ajax-loader.gif', :id => "spinner", :style => "display:none;" %>
      <br/>
      <%= f.submit 'Setup' %>
    <%- end -%>    
  </div>
</div>
